*{
	margin: 0px;
	padding: 0px;
}
html{
	font-size: 16px;
}
body{
	font-family: "微软雅黑";
}
header{
	width: 6.4rem;
	height: 1rem;
	line-height: 1rem;
	font-size: 0.4rem;
	font-family: "微软雅黑";
	text-align: center;
	font-weight: bold;
	background:-webkit-linear-gradient(top, rgba(200, 200, 200, 1) 0%, rgba(233, 233, 233, 1) 50%, rgba(200, 200, 200, 1) 100%);  repeat-x;
}
#banner{
	width: 6.4rem;
	height: 2.75rem;
	overflow: hidden;
	position: relative;
}
#banner #contents{
	width: 32rem;
	height: 2.75rem;
	margin: 0px;
	padding: 0px;
	position: absolute;
}
#banner #contents img{
	width: 6.4rem;
	height: 2.75rem;
	border: none;
	margin: 0rem;
	float: left;
	display: block;
}
.content{
	width: 6.4rem;
	height: 9rem;
	background: url(../img/indexbg.jpg) center top;
	background-size: 6.4rem auto;
}
.content section{
	width: 5.4rem;
	height: 2rem;
	background: rgba(0,0,0,0.5);
	margin: 0.3rem 0.5rem;
	font-size: 0.2rem;
}
.content p{
	float: left;
	width: 2.4rem;
	height: 1.4rem;
	float: right;
	margin: 0.24rem 0.12rem;
}
.content > .sp1{
	font-size: 0.35rem;
	font-weight: bold;
	margin-bottom: 0.2rem;
}
.content>section>p>span{
	font-family: "微软雅黑";
	font-size: 0.2rem;
	color: #fff;
}
.content img{
	width: 2.4rem;
	height: 1.4rem;
	border: solid 0.2rem #rgba(233,233,1);
	margin: 0.24rem 0.12rem;
	float: right;
}